.mat-button-toggle {
    background-color: #7b1fa2;
}

.mat-button-toggle-checked {
    background-color: #342738;
}

mat-form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.editButton {
    float: right;
}