<ng-template #dialogDispatchDelivery>
    <h1 mat-dialog-title>Dispatch Delivery</h1>
    <div mat-dialog-content>
        Are you sure you want to dispatch delivery?
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="warn" mat-dialog-close>No</button>
        <button mat-raised-button color="primary" mat-dialog-close
            (click)="dispatchDelivery(clickedDelivery)">Yes</button>
    </div>
</ng-template>

<ng-template #dialogDeliverDelivery>
    <h1 mat-dialog-title>Deliver Delivery</h1>
    <div mat-dialog-actions>
        <form [formGroup]="realQuantityFormGroup">
            <mat-form-field appearance="fill">
                <mat-label>
                    Real Quantity Delivered
                    <mat-icon class="icon">local_shipping</mat-icon>
                </mat-label>
                <input matInput type="number" formControlName="realQuantity" placeholder="Real Quantity" min="1"
                    required>
            </mat-form-field>
            <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
            <button mat-raised-button color="primary" mat-dialog-close
                (click)="deliverDelivery(clickedDelivery)">Submit</button>
        </form>
    </div>
</ng-template>

<ng-template #dialogDeviationCreated>
    <h1 mat-dialog-title>Deviation Detected</h1>
    <div mat-dialog-actions>
        <button mat-raised-button color="warn" mat-dialog-close>Continue</button>
    </div>
</ng-template>


<ng-template #dialogAddDeliveryTemplate let-formData>
    <h2 mat-dialog-title>Add delivery</h2>
    <mat-dialog-content>
        <mat-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="firstFormGroup" label="Step one">
                <form [formGroup]="firstFormGroup">
                    <mat-form-field appearance="fill">
                        <mat-label>
                            Material Code
                            <mat-icon class="icon">confirmation_number</mat-icon>
                        </mat-label>
                        <input matInput type="text" formControlName="materialCode" placeholder="Material Code" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>
                            Expected Quantity
                            <mat-icon class="icon">local_shipping</mat-icon>
                        </mat-label>
                        <input matInput type="number" formControlName="expectedQuantity" min="1"
                            placeholder="Expected Quantity" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>
                            Expected Delivery Date
                            <mat-icon class="icon">date_range</mat-icon>
                        </mat-label>
                        <input matInput type="datetime-local" formControlName="expectedDeliveryDate"
                            placeholder="Expected Delivery Date" required min="{{ getCurrentDateTime() }}">
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step label="Step two">
                <table mat-table [dataSource]="dataSourcePlants" class="mat-elevation-z8">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let plant">{{plant.id}}</td>
                    </ng-container>

                    <ng-container matColumnDef="segment">
                        <th mat-header-cell *matHeaderCellDef>Segment</th>
                        <td mat-cell *matCellDef="let plant">{{plant.segment}}</td>
                    </ng-container>

                    <ng-container matColumnDef="country">
                        <th mat-header-cell *matHeaderCellDef>Country</th>
                        <td mat-cell *matCellDef="let plant">{{plant.country}}</td>
                    </ng-container>

                    <ng-container matColumnDef="city">
                        <th mat-header-cell *matHeaderCellDef>City</th>
                        <td mat-cell *matCellDef="let plant">{{plant.city}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsPlants"></tr>
                    <tr mat-row (click)="clickedPlant = row" *matRowDef="let row; columns: displayedColumnsPlants;">
                    </tr>
                </table>

                <div *ngIf="clickedPlant!=null">
                    <h3>
                        Selected plant: {{clickedPlant.id}}
                    </h3>
                    <button mat-raised-button color="primary"
                        (click)="getContracts(firstFormGroup.value.materialCode, clickedPlant.id)"
                        matStepperNext>Next</button>
                </div>
            </mat-step>


            <mat-step label="Step three">
                <table mat-table [dataSource]="dataSourceContracts" class="mat-elevation-z8">
                    <ng-container matColumnDef="supplierId">
                        <th mat-header-cell *matHeaderCellDef>Supplier ID</th>
                        <td mat-cell *matCellDef="let contract">{{contract.supplierId}}</td>
                    </ng-container>

                    <ng-container matColumnDef="pricePerUnit">
                        <th mat-header-cell *matHeaderCellDef>Price per Unit</th>
                        <td mat-cell *matCellDef="let contract">{{contract.pricePerUnit}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsContracts"></tr>
                    <tr mat-row (click)="clickedContract = row"
                        *matRowDef="let row; columns: displayedColumnsContracts;">
                    </tr>
                </table>

                <div *ngIf="clickedContract!=null">
                    <h3>
                        Selected supplier: {{clickedContract.supplierId}}
                    </h3>
                    <button mat-raised-button color="primary" matStepperNext (click)="submitForm()">Add
                        Delivery</button>
                </div>
            </mat-step>
        </mat-stepper>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
    </mat-dialog-actions>
</ng-template>

<br />
<button mat-raised-button color="primary" (click)="openDialogAddDelivery()" class="addDeliveryButton">Add
    Delivery</button>
<br />
<div class="filters">
    <mat-form-field appearance="fill">
        <mat-label>Delivery status</mat-label>
        <select matNativeControl (change)="getDeliveriesByStatus($event.target.value)">
            <option value="undispatched">Undispatched</option>
            <option value="dispatched">Dispatched</option>
            <option value="delivered">Delivered</option>
            <option value="all">All</option>
        </select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilterDeliveries($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
</div>
<table mat-table [dataSource]="dataSourceDeliveries" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">

    <ng-container matColumnDef="expectedQuantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by expected quantity">
            Expected Quantity
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.expectedQuantity}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
            Status
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.status}} </td>
    </ng-container>

    <ng-container matColumnDef="dispatchDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by dispatch date">
            Dispatch Date
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.dispatchDate | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="deliveryDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by delivery date">
            Delivery Date
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.deliveryDate | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="supplierId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by supplier ID">
            Supplier ID
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.contract.supplierId}} </td>
    </ng-container>

    <ng-container matColumnDef="materialCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by material code">
            Material Code
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.contract.materialCode}} </td>
    </ng-container>

    <ng-container matColumnDef="pricePerUnit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price per unit">
            Price per Unit
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.contract.pricePerUnit}} </td>
    </ng-container>

    <ng-container matColumnDef="plantId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by plant ID">
            Plant ID
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.contract.plantId}} </td>
    </ng-container>

    <ng-container matColumnDef="expectedDeliveryDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by expected delivery date">
            Expected Delivery Date
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.expectedDeliveryDate | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="dispatchDelivery">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let delivery">
            <button *ngIf="delivery.status === 'undispatched'" mat-raised-button color="primary"
                (click)="clickedDelivery=delivery; openDialogDispatchDelivery()">Dispatch</button>
            <button *ngIf="delivery.status === 'dispatched'" mat-raised-button color="primary"
                (click)="clickedDelivery=delivery; openDialogDeliverDelivery()">Deliver</button>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsDeliveries"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsDeliveries;"></tr>
</table>
<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
</mat-paginator>