<ng-template #dialogDispatchDelivery>
    <h1 mat-dialog-title>{{this.translationService.getTranslation('dispatchDeliveryTitle')}}</h1>
    <div mat-dialog-content>
        {{this.translationService.getTranslation('dispatchDeliveryQuestion')}}
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="warn"
            mat-dialog-close>{{this.translationService.getTranslation('no')}}</button>
        <button mat-raised-button color="primary" mat-dialog-close
            (click)="dispatchDelivery(clickedDelivery)">{{this.translationService.getTranslation('yes')}}</button>
    </div>
</ng-template>

<ng-template #dialogDeliverDelivery>
    <h1 mat-dialog-title>{{this.translationService.getTranslation('deliverDeliveryTitle')}}</h1>
    <div mat-dialog-actions>
        <form [formGroup]="realQuantityFormGroup">
            <mat-form-field appearance="outline">
                <mat-label>
                    {{this.translationService.getTranslation('realQuantityLabel')}}
                    <mat-icon class="icon">local_shipping</mat-icon>
                </mat-label>
                <input matInput type="number" formControlName="realQuantity"
                    placeholder="{{this.translationService.getTranslation('realQuantityLabel')}}" min="1" required>
            </mat-form-field>
            <button mat-raised-button color="warn"
                mat-dialog-close>{{this.translationService.getTranslation('cancel')}}</button>
            <button mat-raised-button color="primary" mat-dialog-close
                (click)="deliverDelivery(clickedDelivery)">{{this.translationService.getTranslation('submit')}}</button>
        </form>
    </div>
</ng-template>

<ng-template #dialogDeviationCreated>
    <h1 mat-dialog-title>{{this.translationService.getTranslation('deviationDetectedTitle')}}</h1>
    <div mat-dialog-actions>
        <button mat-raised-button color="warn"
            mat-dialog-close>{{this.translationService.getTranslation('continue')}}</button>
    </div>
</ng-template>


<ng-template #dialogAddDeliveryTemplate let-formData>
    <h2 mat-dialog-title>{{this.translationService.getTranslation('addDelivery')}}</h2>
    <mat-dialog-content>
        <mat-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="firstFormGroup" label="{{this.translationService.getTranslation('stepOne')}}">
                <form [formGroup]="firstFormGroup">
                    <mat-form-field appearance="outline">
                        <mat-label>
                            {{this.translationService.getTranslation('materialCode')}}
                            <mat-icon class="icon">confirmation_number</mat-icon>
                        </mat-label>
                        <input matInput type="text" formControlName="materialCode"
                            placeholder="{{this.translationService.getTranslation('materialCode')}}" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>
                            {{this.translationService.getTranslation('expectedQuantity')}}
                            <mat-icon class="icon">local_shipping</mat-icon>
                        </mat-label>
                        <input matInput type="number" formControlName="expectedQuantity" min="1"
                            placeholder="{{this.translationService.getTranslation('expectedQuantity')}}" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>
                            {{this.translationService.getTranslation('expectedDeliveryDate')}}
                            <mat-icon class="icon">date_range</mat-icon>
                        </mat-label>
                        <input matInput type="datetime-local" formControlName="expectedDeliveryDate"
                            placeholder="{{this.translationService.getTranslation('expectedDeliveryDate')}}" required
                            min="{{ getCurrentDateTime() }}">
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary"
                            matStepperNext>{{this.translationService.getTranslation('next')}}</button>
                    </div>
                </form>
            </mat-step>
            <mat-step label="{{this.translationService.getTranslation('stepTwo')}}">
                <table mat-table [dataSource]="dataSourcePlants" class="mat-elevation-z8">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>{{this.translationService.getTranslation('id')}}</th>
                        <td mat-cell *matCellDef="let plant">{{plant.id}}</td>
                    </ng-container>

                    <ng-container matColumnDef="segment">
                        <th mat-header-cell *matHeaderCellDef>{{this.translationService.getTranslation('segment')}}</th>
                        <td mat-cell *matCellDef="let plant">{{plant.segment}}</td>
                    </ng-container>

                    <ng-container matColumnDef="country">
                        <th mat-header-cell *matHeaderCellDef>{{this.translationService.getTranslation('country')}}</th>
                        <td mat-cell *matCellDef="let plant">{{plant.country}}</td>
                    </ng-container>

                    <ng-container matColumnDef="city">
                        <th mat-header-cell *matHeaderCellDef>{{this.translationService.getTranslation('city')}}</th>
                        <td mat-cell *matCellDef="let plant">{{plant.city}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsPlants"></tr>
                    <tr mat-row (click)="clickedPlant = row" *matRowDef="let row; columns: displayedColumnsPlants;">
                    </tr>
                </table>

                <div *ngIf="clickedPlant!=null">
                    <h3>
                        {{this.translationService.getTranslation('selectedPlant')}}: {{clickedPlant.id}}
                    </h3>
                    <button mat-raised-button color="primary"
                        (click)="getContracts(firstFormGroup.value.materialCode, clickedPlant.id)"
                        matStepperNext>{{this.translationService.getTranslation('next')}}</button>
                </div>
            </mat-step>


            <mat-step label="{{this.translationService.getTranslation('stepThree')}}">
                <table mat-table [dataSource]="dataSourceContracts" class="mat-elevation-z8">
                    <ng-container matColumnDef="supplierId">
                        <th mat-header-cell *matHeaderCellDef>{{this.translationService.getTranslation('supplierId')}}
                        </th>
                        <td mat-cell *matCellDef="let contract">{{contract.supplier.id}}</td>
                    </ng-container>

                    <ng-container matColumnDef="pricePerUnit">
                        <th mat-header-cell *matHeaderCellDef>{{this.translationService.getTranslation('pricePerUnit')}}
                        </th>
                        <td mat-cell *matCellDef="let contract">{{contract.pricePerUnit}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsContracts"></tr>
                    <tr mat-row (click)="clickedContract = row"
                        *matRowDef="let row; columns: displayedColumnsContracts;">
                    </tr>
                </table>

                <div *ngIf="clickedContract!=null">
                    <h3>
                        {{this.translationService.getTranslation('selectedSupplier')}}: {{clickedContract.supplier.id}}
                    </h3>
                    <button mat-raised-button color="primary" matStepperNext
                        (click)="submitForm()">{{this.translationService.getTranslation('addDelivery')}}</button>
                </div>
            </mat-step>
        </mat-stepper>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close
            color="warn">{{this.translationService.getTranslation('cancel')}}</button>
    </mat-dialog-actions>
</ng-template>

<br />
<mat-divider></mat-divider>
<br />
<button mat-raised-button color="primary" (click)="openDialogAddDelivery()"
    class="addDeliveryButton">{{this.translationService.getTranslation('addDelivery')}}</button>
<br />
<mat-divider></mat-divider>
<br />
<div class="filters">
    <mat-form-field appearance="outline">
        <mat-label>{{this.translationService.getTranslation('deliveryStatusLabel')}}</mat-label>
        <select matNativeControl (change)="getDeliveriesByStatus($event.target.value)">
            <option value="undispatched">{{this.translationService.getTranslation('undispatched')}}</option>
            <option value="dispatched">{{this.translationService.getTranslation('dispatched')}}</option>
            <option value="delivered">{{this.translationService.getTranslation('delivered')}}</option>
            <option value="all">{{this.translationService.getTranslation('all')}}</option>
        </select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>{{this.translationService.getTranslation('filter')}}</mat-label>
        <input matInput (keyup)="applyFilterDeliveries($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
</div>
<table mat-table [dataSource]="dataSourceDeliveries" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
            {{this.translationService.getTranslation('status')}}
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.status}} </td>
    </ng-container>

    <ng-container matColumnDef="dispatchDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by dispatch date">
            {{this.translationService.getTranslation('dispatchDate')}}
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.dispatchDate | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="deliveryDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by delivery date">
            {{this.translationService.getTranslation('deliveryDate')}}
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.deliveryDate | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="supplierId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by supplier ID">
            {{this.translationService.getTranslation('supplierId')}}
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.contract.supplier.id}} </td>
    </ng-container>

    <ng-container matColumnDef="materialCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by material code">
            {{this.translationService.getTranslation('materialCode')}}
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.contract.materialCode}} </td>
    </ng-container>

    <ng-container matColumnDef="pricePerUnit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price per unit">
            {{this.translationService.getTranslation('pricePerUnit')}}
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.contract.pricePerUnit}} </td>
    </ng-container>

    <ng-container matColumnDef="plantId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by plant ID">
            {{this.translationService.getTranslation('plantId')}}
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.contract.plantId}} </td>
    </ng-container>

    <ng-container matColumnDef="expectedQuantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by expected quantity">
            {{this.translationService.getTranslation('expectedQuantity')}}
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.expectedQuantity}} </td>
    </ng-container>

    <ng-container matColumnDef="expectedDeliveryDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by expected delivery date">
            {{this.translationService.getTranslation('expectedDeliveryDate')}}
        </th>
        <td mat-cell *matCellDef="let delivery"> {{delivery.expectedDeliveryDate | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="dispatchDelivery">
        <th mat-header-cell *matHeaderCellDef>{{this.translationService.getTranslation('action')}}</th>
        <td mat-cell *matCellDef="let delivery">
            <button *ngIf="delivery.status === 'undispatched'" mat-raised-button color="primary"
                (click)="clickedDelivery=delivery; openDialogDispatchDelivery()">{{this.translationService.getTranslation('dispatch')}}</button>
            <button *ngIf="delivery.status === 'dispatched'" mat-raised-button color="primary"
                (click)="clickedDelivery=delivery; openDialogDeliverDelivery()">{{this.translationService.getTranslation('deliver')}}</button>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsDeliveries"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsDeliveries;"></tr>
</table>
<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
</mat-paginator>