<mat-card class="filters" *ngIf="reportChoice !== undefined">
    <mat-card-header>
        <mat-card-title>{{this.translationService.getTranslation('reportChoices')}}</mat-card-title>
    </mat-card-header>
    <form [formGroup]="reportChoiceFormGroup">
        <mat-form-field appearance="outline">
            <mat-label>
                {{this.translationService.getTranslation('supplierId')}}
                <span class="material-symbols-outlined">
                    handshake
                </span>
            </mat-label>
            <input matInput type="text" placeholder="{{this.translationService.getTranslation('supplierId')}}"
                formControlName="supplierId" appearance="outline" [(ngModel)]="reportChoice.supplierId">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{this.translationService.getTranslation('plantId')}}
                <span class="material-symbols-outlined">
                    factory
                </span>
            </mat-label>
            <input matInput type="text" placeholder="{{this.translationService.getTranslation('plantId')}}"
                formControlName="plantId" appearance="outline" [(ngModel)]="reportChoice.plantId">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                {{this.translationService.getTranslation('materialCode')}}
                <mat-icon class="icon">confirmation_number</mat-icon>
            </mat-label>
            <input matInput type="text" formControlName="materialCode"
                placeholder="{{this.translationService.getTranslation('materialCode')}}"
                [(ngModel)]="reportChoice.materialCode">
        </mat-form-field>
    </form>
    <form [formGroup]="generateEmailFormGroup">
        <mat-form-field>
            <mat-label>{{this.translationService.getTranslation('chooseADate')}}</mat-label>
            <input matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilter" formControlName="date"
                appearance="outline">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="button-container">
            <button mat-raised-button color="primary" (click)="generateMail()"
                class="searchFormButton">{{this.translationService.getTranslation('generateEmailReport')}}</button>
            <button mat-raised-button color="warn" (click)="modifyChoices()"
                class="searchFormButton">{{this.translationService.getTranslation('modifyChoices')}}</button>
        </div>
    </form>
</mat-card>