<br />
<mat-divider></mat-divider>
<br />
<div class="filters">
    <form [formGroup]="getDeviationsFormGroup">
        <mat-form-field appearance="outline">
            <mat-label>
                {{this.translationService.getTranslation('supplierId')}}
                <span class="material-symbols-outlined">
                    handshake
                </span>
            </mat-label>
            <input matInput type="text" placeholder="{{this.translationService.getTranslation('supplierId')}}"
                formControlName="supplierId" appearance="outline" [formControl]="myControlSuppliers"
                [matAutocomplete]="autoSuppliers">
            <mat-autocomplete #autoSuppliers="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsSuppliers | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{this.translationService.getTranslation('plantId')}}
                <span class="material-symbols-outlined">
                    factory
                </span>
            </mat-label>
            <input matInput type="text" placeholder="{{this.translationService.getTranslation('plantId')}}"
                formControlName="plantId" appearance="outline" [formControl]="myControlPlants"
                [matAutocomplete]="autoPlants">
            <mat-autocomplete #autoPlants="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsPlants | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                {{this.translationService.getTranslation('materialCode')}}
                <mat-icon class="icon">confirmation_number</mat-icon>
            </mat-label>
            <input matInput type="text" formControlName="materialCode"
                placeholder="{{this.translationService.getTranslation('materialCode')}}">
        </mat-form-field>

        <form [formGroup]="selectTypesFormGroup">
            <mat-form-field appearance="outline">
                <mat-select placeholder="{{this.translationService.getTranslation('deviationTypes')}}"
                    formControlName="deviationType" multiple>
                    <mat-option *ngFor="let type of deviationTypes" [value]="type.key"
                        (click)="togglePerOne(allSelected.viewValue)">{{type.value}}</mat-option>
                    <mat-option #allSelected (click)="toggleAllSelection()" [value]="0">All</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="searchDeviations()"
            class="searchFormButton">{{this.translationService.getTranslation('searchDeviation')}}</button>
        <button mat-raised-button color="warn" (click)="clearForms()"
            class="searchFormButton">{{this.translationService.getTranslation('resetSearch')}}</button>
    </form>
    <br />
    <mat-form-field appearance="outline">
        <mat-label>{{this.translationService.getTranslation('filter')}}</mat-label>
        <input matInput (keyup)="applyFilterDeviations($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
</div>
<table mat-table [dataSource]="dataSourceDeviations" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8" matSortActive="creationDate" matSortDirection="desc">

    <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by creation date">
            {{this.translationService.getTranslation('creationDate')}}
        </th>
        <td mat-cell *matCellDef="let deviation"> {{deviation.creationDate | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type">
            {{this.translationService.getTranslation('type')}}
        </th>
        <td mat-cell *matCellDef="let deviation"> {{deviation.type}} </td>
    </ng-container>

    <ng-container matColumnDef="quantityDiff">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by quantity difference">
            {{this.translationService.getTranslation('quantityDifference')}}(%)
        </th>
        <td mat-cell *matCellDef="let deviation"> {{deviation.quantityDiff}} </td>
    </ng-container>

    <ng-container matColumnDef="timeDiff">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by time difference">
            {{this.translationService.getTranslation('timeDifference')}}({{this.translationService.getTranslation('days')}})
        </th>
        <td mat-cell *matCellDef="let deviation"> {{deviation.timeDiff}} </td>
    </ng-container>

    <ng-container matColumnDef="supplierId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by supplier ID">
            {{this.translationService.getTranslation('supplierId')}}
        </th>
        <td mat-cell *matCellDef="let deviation"
            matTooltip="{{getSupplierToolTip(deviation.delivery.contract.supplier.id)}}"
            [matTooltipClass]="'line-broken-tooltip'" [matTooltipPosition]="'right'">
            {{deviation.delivery.contract.supplier.id}} </td>
    </ng-container>

    <ng-container matColumnDef="materialCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by material code">
            {{this.translationService.getTranslation('materialCode')}}
        </th>
        <td mat-cell *matCellDef="let deviation"> {{deviation.delivery.contract.materialCode}} </td>
    </ng-container>

    <ng-container matColumnDef="pricePerUnit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price per unit">
            {{this.translationService.getTranslation('pricePerUnit')}}
        </th>
        <td mat-cell *matCellDef="let deviation"> {{deviation.delivery.contract.pricePerUnit}} </td>
    </ng-container>

    <ng-container matColumnDef="plantId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by plant ID">
            {{this.translationService.getTranslation('plantId')}}
        </th>
        <td mat-cell *matCellDef="let deviation"> {{deviation.delivery.contract.plant.id}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsDeviations"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsDeviations;"></tr>
</table>
<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
    [showFirstLastButtons]=true>
</mat-paginator>