<form [formGroup]="loginForm">
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" placeholder="Username">
        <mat-error *ngIf="loginForm.get('username').hasError('required')">Username is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password').hasError('required')">Password is required</mat-error>
    </mat-form-field>
    <mat-error *ngIf="invalidPassword">
        Username or password incorrect
    </mat-error>
    <button mat-raised-button (click)="onLoginSubmit()">Login</button>
</form>

<form [formGroup]="resetPasswordForm">
    <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput type="text" formControlName="emailAddress" placeholder="Email Address">
        <mat-error *ngIf="loginForm.get('username').hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="loginForm.get('username').hasError('email')">Invalid email format</mat-error>
    </mat-form-field>
    <button mat-raised-button (click)="resetPassword()">Reset Password</button>
</form>

<form [formGroup]="registrationForm">
    <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstName" placeholder="First Name">
        <mat-error *ngIf="registrationForm.get('firstName').hasError('required')">First Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="lastName" placeholder="Last Name">
        <mat-error *ngIf="registrationForm.get('lastName').hasError('required')">Last Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" placeholder="Username">
        <mat-error *ngIf="registrationForm.get('username').hasError('required')">Username is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput type="text" formControlName="emailAddress" placeholder="Email Address">
        <mat-error *ngIf="registrationForm.get('username').hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="registrationForm.get('username').hasError('email')">Invalid email format</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="registrationForm.get('password').hasError('required')">Password is required</mat-error>
    </mat-form-field>
    <div *ngIf="successfulRegistration">
        Registration successful. Please login
    </div>

    <button mat-raised-button (click)="onRegistrationSubmit()">Login</button>

</form>