<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <label>
        <input type="text" formControlName="username" placeholder="Username">
    </label>

    <label>
        <input type="password" formControlName="password" placeholder="Password">
    </label>
    <div *ngIf="invalidPassword">
        Username or password incorrect
    </div>

    <button type="submit">Login</button>
</form>

<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <label>
        <input type="text" formControlName="emailAddress" placeholder="Email Address">
    </label>

    <button type="submit" (ngSubmit)="resetPassword()">Reset Password</button>
</form>

<form [formGroup]="registrationForm" (ngSubmit)="onRegistrationSubmit()">
    <label>
        <input type="text" formControlName="firstName" placeholder="First Name">
    </label>

    <label>
        <input type="text" formControlName="lastName" placeholder="Last Name">
    </label>

    <label>
        <input type="text" formControlName="username" placeholder="Username">
    </label>

    <label>
        <input type="email" formControlName="emailAddress" placeholder="Email Address">
    </label>

    <label>
        <input type="password" formControlName="password" placeholder="Password">
    </label>
    <div *ngIf="successfulRegistration">
        Registration successful. Please login
    </div>

    <button type="submit">Register</button>

</form>