<app-language-changer></app-language-changer>
<mat-expansion-panel #panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <p>{{this.translationService.getTranslation('greetingsLabel')}}, {{ userDetails.firstName }} {{
                userDetails.lastName}}!</p>
            <button mat-raised-button color="primary"
                (click)="logout()">{{this.translationService.getTranslation('logoutButton')}}</button>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
        <li><strong>{{this.translationService.getTranslation('loginUsernameLabel')}}:</strong> {{ userDetails.username
            }}</li>
        <li><strong>{{this.translationService.getTranslation('emailLabel')}}:</strong> {{ userDetails.emailAddress }}
        </li>
    </ul>
    <button mat-raised-button color="primary"
        (click)="openDialogSystemConfigurations()">{{this.translationService.getTranslation('systemConfigurations')}}</button>
</mat-expansion-panel>

<br /><br />
<!-- TODO: initialize each component when selecting tabs -->
<mat-tab-group (selectedTabChange)="onTabSelection($event)">
    <mat-tab label="{{this.translationService.getTranslation('deliveriesLabel')}}">
        <ng-template matTabContent>
            <app-deliveries *ngIf="selectedTabIndex === 0"></app-deliveries>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{this.translationService.getTranslation('deviationsLabel')}}">
        <ng-template matTabContent>
            <app-deviations *ngIf="selectedTabIndex === 1"></app-deviations>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{this.translationService.getTranslation('tolerancesLabel')}}">
        <ng-template matTabContent>
            <app-tolerances *ngIf="selectedTabIndex === 2"></app-tolerances>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{this.translationService.getTranslation('contractsLabel')}}">
        <ng-template matTabContent>
            <app-contracts *ngIf="selectedTabIndex === 3"></app-contracts>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{this.translationService.getTranslation('ratingsLabel')}}">
        <ng-template matTabContent>
            <app-ratings *ngIf="selectedTabIndex === 4"></app-ratings>
        </ng-template>
    </mat-tab>
</mat-tab-group>