<mat-card>
    <mat-card-header>
        <mat-card-title>Hello, {{ userDetails.firstName }} {{ userDetails.lastName}}!</mat-card-title>
        <mat-card-subtitle>
            <ul>
                <li><strong>Username:</strong> {{ userDetails.username }}</li>
                <li><strong>Email Address:</strong> {{ userDetails.emailAddress }}</li>
            </ul>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </mat-card-actions>
</mat-card>
<br /><br />
<mat-tab-group>
    <mat-tab label="Deliveries"> <app-deliveries></app-deliveries> </mat-tab>
    <mat-tab label="Deviations"> <app-deviations></app-deviations> </mat-tab>
    <mat-tab label="Tolerances"> <app-tolerances></app-tolerances> </mat-tab>
    <mat-tab label="Contracts"> <app-contracts></app-contracts> </mat-tab>
</mat-tab-group>