.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.user-details {
    width: 100%;
    max-width: 600px;
    margin: 0 10px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-details h2 {
    margin-top: 0;
}


.user-details button:hover {
    background-color: #0069d9;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 10px;
}