<app-language-changer></app-language-changer>
<mat-expansion-panel #panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <p>{{this.translationService.getTranslation('greetingsLabel')}}, {{ userDetails.firstName }} {{
                userDetails.lastName}}!</p>
            <button mat-raised-button color="primary"
                (click)="logout()">{{this.translationService.getTranslation('logoutButton')}}</button>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
        <li><strong>{{this.translationService.getTranslation('loginUsernameLabel')}}:</strong> {{ userDetails.username
            }}</li>
        <li><strong>{{this.translationService.getTranslation('emailLabel')}}:</strong> {{ userDetails.emailAddress }}
        </li>
    </ul>
    <button mat-raised-button color="primary"
        (click)="openDialogSystemConfigurations()">{{this.translationService.getTranslation('systemConfigurations')}}</button>
</mat-expansion-panel>

<br /><br />
<!-- TODO: initialize each component when selecting tabs -->
<mat-tab-group>
    <mat-tab label="{{this.translationService.getTranslation('deliveriesLabel')}}"> <app-deliveries></app-deliveries>
    </mat-tab>
    <mat-tab label="{{this.translationService.getTranslation('deviationsLabel')}}"> <app-deviations></app-deviations>
    </mat-tab>
    <mat-tab label="{{this.translationService.getTranslation('tolerancesLabel')}}"> <app-tolerances></app-tolerances>
    </mat-tab>
    <mat-tab label="{{this.translationService.getTranslation('contractsLabel')}}"> <app-contracts></app-contracts>
    </mat-tab>
</mat-tab-group>