<ng-template #dialogAddTolerance>
    <form [formGroup]="addTolerancesFormGroup">
        <mat-form-field appearance="outline">
            <mat-label>
                {{this.translationService.getTranslation('supplierId')}}
                <span class="material-symbols-outlined">
                    handshake
                </span>
            </mat-label>
            <input matInput type="text" placeholder="{{this.translationService.getTranslation('supplierId')}}"
                formControlName="supplierId" appearance="outline" [formControl]="myControlSuppliersAdd"
                [matAutocomplete]="autoSuppliers" required>
            <mat-autocomplete #autoSuppliers="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsSuppliers | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{this.translationService.getTranslation('plantId')}}
                <span class="material-symbols-outlined">
                    factory
                </span>
            </mat-label>
            <input matInput type="text" placeholder="{{this.translationService.getTranslation('plantId')}}"
                formControlName="plantId" appearance="outline" [formControl]="myControlPlantsAdd"
                [matAutocomplete]="autoPlants">
            <mat-autocomplete #autoPlants="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsPlants | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                {{this.translationService.getTranslation('materialCode')}}
                <mat-icon class="icon">confirmation_number</mat-icon>
            </mat-label>
            <input matInput type="text" formControlName="materialCode"
                placeholder="{{this.translationService.getTranslation('materialCode')}}"
                [matAutocomplete]="autoMaterials">
            <mat-autocomplete #autoMaterials="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsMaterials | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                {{this.translationService.getTranslation('qtyUpperLimit')}}
                <span class="material-symbols-outlined">
                    production_quantity_limits
                </span>
            </mat-label>
            <input matInput type="number" min="0" formControlName="qtyUpperLimit" placeholder="Qty Upper Limit">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                {{this.translationService.getTranslation('qtyLowerLimit')}}
                <span class="material-symbols-outlined">
                    production_quantity_limits
                </span>
            </mat-label>
            <input matInput type="number" min="0" formControlName="qtyLowerLimit"
                placeholder="{{this.translationService.getTranslation('qtyLowerLimit')}}">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                {{this.translationService.getTranslation('dayUpperLimit')}}
                <span class="material-symbols-outlined">
                    today
                </span>
            </mat-label>
            <input matInput type="number" min="0" formControlName="dayUpperLimit"
                placeholder="{{this.translationService.getTranslation('dayUpperLimit')}}">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                {{this.translationService.getTranslation('dayLowerLimit')}}
                <span class="material-symbols-outlined">
                    today
                </span>
            </mat-label>
            <input matInput type="number" min="0" formControlName="dayLowerLimit"
                placeholder="{{this.translationService.getTranslation('dayLowerLimit')}}">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="addTolerance()" class="searchFormButton"
            mat-dialog-close>{{this.translationService.getTranslation('addTolerance')}}</button>
        <button mat-raised-button color="warn" (click)="clearForms()" class="searchFormButton"
            mat-dialog-close>{{this.translationService.getTranslation('cancel')}}</button>
    </form>
</ng-template>

<ng-template #dialogDeleteTolerance>
    <h1 mat-dialog-title>{{this.translationService.getTranslation('deleteTolerance')}}</h1>
    <div mat-dialog-content>
        {{this.translationService.getTranslation('deleteToleranceDialog')}}
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="warn"
            mat-dialog-close>{{this.translationService.getTranslation('no')}}</button>
        <button mat-raised-button color="primary" mat-dialog-close
            (click)="deleteTolerance(clickedTolerance)">{{this.translationService.getTranslation('yes')}}</button>
    </div>
</ng-template>

<br />
<mat-divider></mat-divider>
<br />
<button mat-raised-button color="primary" (click)="openDialogAddTolerance()"
    class="addToleranceFormButton">{{this.translationService.getTranslation('addTolerance')}}</button>
<br />
<mat-divider></mat-divider>
<br />

<div class="filters">
    <form [formGroup]="getTolerancesFormGroup">
        <mat-form-field appearance="outline">
            <mat-label>
                {{this.translationService.getTranslation('supplierId')}}
                <span class="material-symbols-outlined">
                    handshake
                </span>
            </mat-label>
            <input matInput type="text" placeholder="{{this.translationService.getTranslation('supplierId')}}"
                formControlName="supplierId" appearance="outline" [formControl]="myControlSuppliers"
                [matAutocomplete]="autoSuppliers">
            <mat-autocomplete #autoSuppliers="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsSuppliers | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{this.translationService.getTranslation('plantId')}}
                <span class="material-symbols-outlined">
                    factory
                </span>
            </mat-label>
            <input matInput type="text" placeholder="{{this.translationService.getTranslation('plantId')}}"
                formControlName="plantId" appearance="outline" [formControl]="myControlPlants"
                [matAutocomplete]="autoPlants">
            <mat-autocomplete #autoPlants="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsPlants | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                {{this.translationService.getTranslation('materialCode')}}
                <mat-icon class="icon">confirmation_number</mat-icon>
            </mat-label>
            <input matInput type="text" formControlName="materialCode"
                placeholder="{{this.translationService.getTranslation('materialCode')}}"
                [matAutocomplete]="autoMaterials">
            <mat-autocomplete #autoMaterials="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsMaterials | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <div class="button-container">
            <button mat-raised-button color="primary" (click)="searchTolerances()"
                class="searchFormButton">{{this.translationService.getTranslation('searchTolerance')}}</button>
            <button mat-raised-button color="warn" (click)="clearForms()"
                class="searchFormButton">{{this.translationService.getTranslation('resetSearch')}}</button>
        </div>
    </form>
    <br />
    <div class="filter-container">
        <mat-form-field appearance="outline">
            <mat-label>{{this.translationService.getTranslation('filter')}}</mat-label>
            <input matInput (keyup)="applyFilterTolerances($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
    </div>
</div>

<table mat-table [dataSource]="dataSourceTolerances" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8" matSortActive="supplierId" matSortDirection="asc">

    <ng-container matColumnDef="supplierId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by supplier ID">
            {{this.translationService.getTranslation('supplierId')}}
        </th>
        <td mat-cell *matCellDef="let tolerance" matTooltip="{{getSupplierToolTip(tolerance.supplier.id)}}"
            [matTooltipClass]="'line-broken-tooltip'" [matTooltipPosition]="'right'"> {{tolerance.supplier.id}} </td>
    </ng-container>

    <ng-container matColumnDef="supplierName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by supplier name">
            {{this.translationService.getTranslation('supplierName')}}
        </th>
        <td mat-cell *matCellDef="let tolerance"> {{tolerance.supplier.name}} </td>
    </ng-container>

    <ng-container matColumnDef="materialCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Material Code">
            {{this.translationService.getTranslation('materialCode')}}
        </th>
        <td mat-cell *matCellDef="let tolerance; let i = index;">
            <div *ngIf="!tolerance.editMode">
                {{tolerance.materialCode}}
            </div>

            <div *ngIf="tolerance.editMode">
                <mat-form-field appearance="outline" class="modifyCells">
                    <input matInput type="text" [(ngModel)]="tolerance.materialCode">
                </mat-form-field>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="plantId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Plant ID">
            {{this.translationService.getTranslation('plantId')}}
        </th>
        <td mat-cell *matCellDef="let tolerance; let i = index;">
            <div *ngIf="!tolerance.editMode">
                {{tolerance.plantId}}
            </div>

            <div *ngIf="tolerance.editMode">
                <mat-form-field appearance="outline" class="modifyCells">
                    <input matInput type="text" [(ngModel)]="tolerance.plantId">
                </mat-form-field>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="qtyUpperLimit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Qty Upper Limit">
            {{this.translationService.getTranslation('qtyUpperLimit')}}({{this.translationService.getTranslation('days')}})
        </th>
        <td mat-cell *matCellDef="let tolerance; let i = index;">
            <div *ngIf="!tolerance.editMode">
                {{tolerance.qtyUpperLimit}}
            </div>

            <div *ngIf="tolerance.editMode">
                <mat-form-field appearance="outline" class="modifyCells">
                    <input matInput type="text" [(ngModel)]="tolerance.qtyUpperLimit">
                </mat-form-field>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="qtyLowerLimit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Qty Lower Limit">
            {{this.translationService.getTranslation('qtyLowerLimit')}}({{this.translationService.getTranslation('days')}})
        </th>
        <td mat-cell *matCellDef="let tolerance; let i = index;">
            <div *ngIf="!tolerance.editMode">
                {{tolerance.qtyLowerLimit}}
            </div>

            <div *ngIf="tolerance.editMode">
                <mat-form-field appearance="outline" class="modifyCells">
                    <input matInput type="text" [(ngModel)]="tolerance.qtyLowerLimit">
                </mat-form-field>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="dayUpperLimit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Day Upper Limit">
            {{this.translationService.getTranslation('dayUpperLimit')}}({{this.translationService.getTranslation('days')}})
        </th>
        <td mat-cell *matCellDef="let tolerance; let i = index;">
            <div *ngIf="!tolerance.editMode">
                {{tolerance.dayUpperLimit}}
            </div>

            <div *ngIf="tolerance.editMode">
                <mat-form-field appearance="outline" class="modifyCells">
                    <input matInput type="text" [(ngModel)]="tolerance.dayUpperLimit">
                </mat-form-field>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="dayLowerLimit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Day Lower Limit">
            {{this.translationService.getTranslation('dayLowerLimit')}}({{this.translationService.getTranslation('days')}})
        </th>
        <td mat-cell *matCellDef="let tolerance; let i = index;">
            <div *ngIf="!tolerance.editMode">
                {{tolerance.dayLowerLimit}}
            </div>

            <div *ngIf="tolerance.editMode">
                <mat-form-field appearance="outline" class="modifyCells">
                    <input matInput type="text" [(ngModel)]="tolerance.dayLowerLimit">
                </mat-form-field>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <mat-button-toggle color="primary" (click)="changeEditMode(element)" class="editButton"
                [checked]="element.editMode">
                <span class="material-symbols-outlined">
                    edit
                </span>
            </mat-button-toggle>
        </td>
    </ng-container>

    <ng-container matColumnDef="save">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i = index">
            <mat-button-toggle *ngIf="element.editMode" color="primary" (click)="updateTolerance(element, i)"
                class="editButton">
                <span class="material-symbols-outlined">
                    save
                </span>
            </mat-button-toggle>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let tolerance; let i = index">
            <mat-button-toggle *ngIf="tolerance.editMode" color="primary"
                (click)="openDialogDeleteTolerance(tolerance)"><span class="material-symbols-outlined">
                    delete
                </span></mat-button-toggle>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsTolerances"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsTolerances;"></tr>
</table>
<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
    [showFirstLastButtons]=true>
</mat-paginator>